<h1>Login</h1>

<br>
<br>
<h2>Email/User</h2>
<%= text_field :tmpname, nil, placeholder: "Enter a Email" %>
<br>
<br>
<h2>Password</h2>
<%= text_field :tmpname, nil, placeholder: "password" %>
<br>
<br>
<%= link_to "Register", new_user_path %>
