@import 'partials/variable';

.goal-page-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-grey;
  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;

  .goal-page-edit-forms {
    width: 90%;

    .goal-page-edit-label-title,
    .goal-page-edit-label-description, 
    .goal-page-edit-label-date,
    .goal-page-edit-label-status {
      font-family: 'Courier New', Courier, monospace;
      font-size: medium;
      font-weight: bold;
      text-align: left;
    }

    .goal-page-edit-field-title,
    .goal-page-edit-field-description, 
    .goal-page-edit-field-date,
    .goal-page-edit-field-status {
      margin: 0rem 0rem 1rem 0rem;
      .goal-page-edit-field-input {
        width: 100%;
        height: 1.5rem;
        border-radius: 0.3rem;
        border: none;
      }
    }

    .goal-page-edit-button {
      display: flex;
      justify-content: space-between;
      text-align: center;
      width: 100%;
      padding: 1rem 0rem 0rem 0rem;

      .goal-page-edit-button-back {
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        padding: 0.5rem;
        margin: 0.2rem;
        color: $white;
        background-color: $dark-green;
        text-decoration: none;
        border: none;
        border-radius: 0.5rem;
        text-align: left;
      }

      .goal-page-edit-button-edit {
      font-family: 'Courier New', Courier, monospace;
      font-size: medium;
      padding: 0.5rem;
      margin: 0.2rem;
      color: $white;
      background-color: $dark-green;
      text-decoration: none;
      border: none;
      border-radius: 0.5rem;
      text-align: right;
      width: auto;
      }
    }
  }
}
