$red: rgb(255, 000, 000);
$black: rgb(000, 000, 000);
$white: rgb(255, 255, 255);
$dark-blue: rgb(189, 244, 222);
$lighter-black: rgb(34, 34, 34);
$dark-orange: rgb(255, 140, 000);
$dark-green: rgb(132, 171, 162);
$light-grey: rgb(222, 242, 227);
$light-green: rgb(12, 207, 106);
$lighter-grey: rgb(236, 241, 237);

