<div class='page-container'>
  <div class='goal-page-index-container'>
    <h1 class='h1_title'><%= t('attributes.goal') %></h1>
    <div class='goal-page-index-buttons-index'>
      <%= link_to t('buttons.create'), new_user_goal_path, class: 'goal-page-index-button-create' %>
    </div>
    <% @user.goals.each do |goal| %>
      <div class='goal-page-index-item'>
        <div class='goal-page-index-title'>
          <span><%= goal.title %></span>
        </div>
        <div class='goal-page-index-buttons'>
          <span><%= link_to t('views.view_goal'), user_goal_path(@user, goal), class: 'goal-page-index-button-show' %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
