@import '/partials/variable';

body {
  background-color: $dark-blue;
  margin: 0;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
}

.h1title {
  font-family: 'Courier New', Courier, monospace;
  font-size:x-large;
  margin: 0;
}
