@import '/partials/variable';

body {
  background-color: $dark-blue;
  margin: 0;
}

.validation-error { 
  color: $red;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.h1_title {
  font-family: 'Courier New', Courier, monospace;
  font-size:x-large;
  margin: 0;
}

.validation-error { 
  color: $red;
}
